{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class="display-4 text-black">
                    New Arrivals
                </h1>
                <div class="my-5">
                    <h4>
                    <a href="{% url 'products' %}" class="btn btn-lg text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="logo-font">The Essentials</h1>
                <p>Explore our range of clothing</p>
            </div>
        </div>
    <div class="row d-none d-sm-block">
        <div class="product-container col-10 offset-1">
            <div class="row mb-5 mt-3">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-3">
                    <div class="card h-100 pt-4 border-0">
                        <a href="{% url 'products' %}?category=tshirts">
                        <img class="card-img-top img-fluid" src="/media/Power-house-black-t-shirt-1_1024x.jpeg" alt="">
                        </a>
                        <div class="card-body pb-0">
                            <h4 class="card-text mb-3"><strong>The Heavyweight Tee</strong></h4>
                            <p class="lead mb-0 text-left" style="font-size: 17.5px;">The only Tee you need</p>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-3">
                    <div class="card h-100 pt-4 border-0">
                        <a href="{% url 'products' %}?category=trousers_jeans">
                        <img class="card-img-top img-fluid" src="/media/olive-sowing-field-pants-1.jpeg" alt="">
                        </a>
                        <div class="card-body pb-0">
                            <h4 class="card-text mb-3"><strong>Trouser Focus</strong></h4>
                            <p class="lead mb-0 text-left" style="font-size: 17.5px;">From trousers to jeans we have them all</p>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-3">
                    <div class="card h-100 pt-4 border-0">
                        <a href="{% url 'products' %}?category=shirts">
                        <img class="card-img-top img-fluid pt-2" src="/media/oxford-shirt-light-blue.jpeg" alt="">
                        </a>
                        <div class="card-body pb-0">
                            <h4 class="card-text mb-3 pt-5"><strong>The Shirt</strong></h4>
                            <p class="lead mb-0 text-left" style="font-size: 17.5px;">The classic, wear it up or down</p>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-3">
                    <div class="card h-100 pt-4 border-0">
                        <a href="{% url 'products' %}?category=accessories">
                        <img class="card-img-top img-fluid" src="/media/power-house-6-panel-camp-cap-tan-1.jpeg" alt="">
                        </a>
                        <div class="card-body pb-0">
                            <h4 class="card-text mb-3"><strong>Accessories</strong></h4>
                            <p class="lead mb-0 text-left" style="font-size: 17.5px;">Caps, socks and more...</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Smaller Screens -->
    <div class="row d-block d-sm-none">
        <div class="col">
    <!-- Carousel -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card h-100 pt-4 border-0">
                        <a href="{% url 'products' %}?category=tshirts">
                        <img class="card-img-top img-fluid" src="/media/Power-house-black-t-shirt-1_1024x.jpeg" alt="">
                        </a>
                        <div class="card-body pb-0">
                            <h4 class="card-text mb-3"><strong>The Heavyweight Tee</strong></h4>
                            <p class="lead mb-0 text-left" style="font-size: 17.5px;">The only Tee you need</p>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card h-100 pt-4 border-0">
                        <a href="{% url 'products' %}?category=trousers_jeans">
                        <img class="card-img-top img-fluid" src="/media/olive-sowing-field-pants-1.jpeg" alt="">
                        </a>
                        <div class="card-body pb-0">
                            <h4 class="card-text mb-3"><strong>Trouser Focus</strong></h4>
                            <p class="lead mb-0 text-left" style="font-size: 17.5px;">From trousers to jeans we have them all</p>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card h-100 pt-4 border-0">
                        <a href="{% url 'products' %}?category=shirts">
                        <img class="card-img-top img-fluid pt-2" src="/media/oxford-shirt-light-blue.jpeg" alt="">
                        </a>
                        <div class="card-body pb-0">
                            <h4 class="card-text mb-3 pt-5"><strong>The Shirt</strong></h4>
                            <p class="lead mb-0 text-left" style="font-size: 17.5px;">The classic, wear it up or down</p>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card h-100 pt-4 border-0">
                        <a href="{% url 'products' %}?category=accessories">
                        <img class="card-img-top img-fluid" src="/media/power-house-6-panel-camp-cap-tan-1.jpeg" alt="">
                        </a>
                        <div class="card-body pb-0">
                            <h4 class="card-text mb-3"><strong>Accessories</strong></h4>
                            <p class="lead mb-0 text-left" style="font-size: 17.5px;">Caps, socks and more...</p>
                        </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}