html {
    height: 100%;
}

body {
    background: url() no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Noto Sans', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 20px;
    display: none;
}

.message-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

@media only screen and (max-width: 800px) {
    #back-to-top{
      display:none !important;
    }
  }