<div class="collapse navbar-collapse text-center" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-dark mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="clothing-link">
                <a href="/products" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Shirts</a>
                <a href="" class="dropdown-item">Trouser/Jeans</a>
                <a href="" class="dropdown-item">Sweatshirts/Hoodies</a>
                <a href="" class="dropdown-item">T-shirts</a>
                <a href="" class="dropdown-item">Accessories</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#">
                About Us
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#">
                Contact
            </a>
        </li>
    </ul>
</div>