{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% for category in current_categories %}
        {% if current_categories.last == none %}
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <p>Explore our range of clothing</p>
                <hr class="w-50 mb-1">
            </div>
        </div>
        {% elif current_categories.last == 'tshirts' %}
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">{{ current_categories.last.name_to_display }}</h2>
                <p>Explore our range of clothing</p>
                <hr class="w-50 mb-1">
            </div>
        </div>
        {% elif current_categories.last == trousers_jeans %}
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">{{ category.name_to_display }}</h2>
                <p>Explore our range of clothing</p>
                <hr class="w-50 mb-1">
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">{{ current_categories.last }}</h2>
                <p>Explore our range of clothing {{ category.name_to_display }}</p>
                <hr class="w-50 mb-1">
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {{ products|length }} Items
                        </p>
                    </div>
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-20">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            </select>
                        </div>
                    </div>
                </div>

        <div class="row">
            <div class="product-container col-12">
                <div class="row mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 pt-4 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left">£{{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}